* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    position: absolute;
    background: #f3f5fc;
    min-width: 100%;
    height: 930px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

#contenedor {
    width: 1440px;
    min-height: 725px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

#contenedor.visible {
    opacity: 1;
}


.box {
    display: flex;
    margin: 0 auto;
    width: 100%;
}

footer {
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    height: 9.5%;
    top: 961px;
    bottom: 0;
    background-color: #292929;
}

footer .seccion_reservado {
    margin-block-start: 0;
    position: absolute;
    font-weight: bold;
    margin: 13px auto;
    font-size: 10px;
    background-color: #292929;
    color: #f3f5fc;
    width: 100%;
    text-align: center;
    margin-block-end: 0em;
}

footer a {
    text-decoration: none;
}


ol {
    margin: 0px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    background-color: #f3f5fc;
}

ol li {
    display: inline;
}

.img-footer {
    width: 3.5rem;
    height: 2.5rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 120px;
    height: 48px;
    left: 40px;
    top: 40px;
}

.logo-alura {
    /* Logo */
    position: absolute;
    width: 120px;
    height: 48px;
    left: 0px;
    top: 5px;
}

.logo-alura .not-found {
    position: absolute;
    left: 36.67%;
    right: 37.43%;
    top: 0%;
    bottom: 0%;
}


.logo-oracle-alura {
    position: absolute;
    width: 318px;
    height: 66px;
    left: 42px;
    top: 25px;
}


.logo-oracle-alura img {
    position: absolute;
    width: 311px;
    height: 67px;
    left: 0;
}

#textarea {
    position: absolute;
    resize: none;
    left: 70px;
    top: 115px;
    width: 896px;
    height: 610px;
}


#input {
    position: absolute;
    resize: none;
    font-style: normal;
    font-size: 32px;
    line-height: 150%;
    padding: 1rem;
    background-color: transparent;
    border-color: transparent;
    color: #0A3871;
    transition: opacity 0.5s ease-in-out;
}

#input::placeholder {
    color: #0A3871;
    font-weight: bold;
}

.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    margin: 0 0 10px 0;
    gap: 40px;
    position: absolute;
    width: 680px;
    height: 67px;
    left: 76px;
    top: 776px;
}

#encode-button {
    /* Button */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 420px;
    height: 67px;
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    transition: .5s all;
    cursor: pointer;
}

#encode-button:hover {
    transform: scale(1.05) !important;
}

#encode-button p {
    /* Button */
    width: 280px;
    height: 19px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 1;
}

#decode-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    width: 420px;
    height: 67px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    transition: .5s all;
    cursor: pointer;
}

#decode-button:hover {
    transform: scale(1.05);
}

#decode-button p {
    /* Button */
    width: 280px;
    height: 19px;
    margin: 0 auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    flex-grow: 1;
}

#seccion-mensaje {
    position: relative;
    width: 400px;
    height: 739px;
    left: 1005px;
    top: 26px;
    opacity: 1;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    transition: opacity .5s ease-in-out;
}

#seccion-respuesta.visible {
    opacity: 0;
}

#seccion-mensaje .not-found {
    position: absolute;
    width: 336px;
    height: 304px;
    top: 120px;
}

#seccion-respuesta {
    position: absolute;
    width: 400px;
    height: 739px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

#seccion-respuesta.visible {
    opacity: 1;
}

.mensaje {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    position: absolute;
    width: 336px;
    height: 122px;
    left: 31px;
    top: 482px;
}

.mensaje h1 {
    width: 336px;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.mensaje p {
    width: 336px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


#resultado {
    position: absolute;
    width: 336px;
    height: 592px;
    left: 31px;
    top: 29px;
    resize: none;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    border-color: transparent;
    color: #495057;
}

#copiar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    position: absolute;
    width: 336px;
    height: 67px;
    left: 34px;
    top: 648px;
    transition: .5s all;
    border: 1px solid #0A3871;
    border-radius: 24px;
}

#copiar:hover {
    transform: scale(1.05);
}

#copiar p {
    width: 288px;
    height: 19px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    color: #0A3871;
    flex: none;
    order: 0;
    flex-grow: 1;
}


.alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    position: absolute;
    width: 229px;
    height: 18px;
    left: 81px;
    top: 736px;
    font-size: 11px;
}

.alerta img {
    width: 6%;
}

@media (min-width: 376px) and (max-width: 1029px) {
    * {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    }

    body {
        display: absolute;
        position: relative;
        width: 855px;
        height: 1384px;
        background: #F3F5FC;
        margin: 0;
        padding: 0;
        border-color: #343A40;
    }


    #contenedor.visible {
        position: absolute;
        width: 855px;
        height: 1384px;
        opacity: 1;
    }

    #contenedor .box {
        position: absolute;
        width: 100%;
        height: 1384px;
    }

    footer {
        display: block;
        margin: 0 auto;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 1298px;
        height: 7%;
        background-color: #292929;
    }


    footer a {
        text-decoration: none;
    }


    ol {
        margin: 0px;
        padding-inline-start: 0px;
        position: unset;
    }

    ol li {
        display: inline;
    }

    .img-footer {
        width: 3.5rem;
        height: 2.5rem;
    }


    .header {
        position: absolute;
        left: 5.21%;
        right: 90.74%;
        top: 6.25%;
        bottom: 89.8%;
    }

    .logo-alura {
        position: absolute;
        left: 0.27%;
        right: 69.2%;
        top: 0%;
        bottom: 0%;
    }

    .logo-alura img {
        position: absolute;
        left: 0;
        right: 37.43%;
        top: 0%;
        bottom: 0%;
    }

    #textarea {
        position: absolute;
        width: 656px;
        height: 351px;
        top: 125px;
        left: 102px;
    }

    #input {
        position: absolute;
        resize: none;
        width: 636px;
        height: 330px;
        padding: 1rem;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;

        flex-grow: 1;
        background-color: transparent;
        border-color: transparent;
        color: #0A3871;

    }

    #input::placeholder {
        color: #0A3871;
        font-size: 30px;
    }

    .botones {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 26px;
        position: absolute;
        width: 664px;
        height: 67px;
        left: 102px;
        top: 560px;
    }

    .logo-oracle-alura {
        position: absolute;
        width: 284px;
        height: 424px;
        left: 47px;
        top: 68px;
    }

    .logo-oracle-alura img {
        position: absolute;
        width: 94%;
        height: 15%;
    }

    #seccion-mensaje .not-found{
        position: absolute;
        width: 94%;
        height: 62%;
    }


    #encode-button {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        width: 230px;
        height: 67px;
        background: #0A3871;
        border-radius: 24px;
        flex: none;
        order: 0;
        flex-grow: 1;
    }


    #encode-button p {
        width: 295px;
        height: 19px;
        margin: 0 auto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }

    #decode-button {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        width: 230px;
        height: 67px;
        border: 1px solid #0A3871;
        border-radius: 24px;
        flex: none;
        order: 1;
        flex-grow: 1;
    }

    #decode-button p {
        width: 295px;
        height: 19px;
        margin: 0 auto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 19px;
        text-align: center;
        color: #0A3871;
        flex: none;
        order: 0;
        flex-grow: 1;
    }


    #seccion-mensaje {
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;
        position: absolute;
        width: 607px;
        height: 498px;
        left: 99px;
        top: 662px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgb(0 0 0 / 8%);
        border-radius: 32px;
    }

    .mensaje {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 297px;
        height: 114px;
        top: 170px;
        left: 334px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }


    .mensaje h1 {
        width: 297px;
        height: 105px;
        font-style: normal;
        font-size: 27px;
        margin: 0 auto;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    }

    .mensaje p {
        width: 297px;
        height: 70px;
        font-style: normal;
        margin: 0 auto;
        font-size: 21px;
        line-height: 150%;
        text-align: center;
        color: #495057;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    #seccion-respuesta {
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        margin-bottom: 1rem;
        gap: 32px;
        position: absolute;
        width: 607px;
        height: 330px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    #resultado {
        width: 617px;
        height: 250px;
        resize: none;
        position: absolute;
        font-style: normal;
        font-size: 15px;
        line-height: 150%;
        color: #495057;
        background-color: transparent;
        border-color: transparent;
        flex-grow: 1;
        left: 23px;
        top: 22px;
        border-radius: 7px;
        order: 0;
        align-self: stretch;
    }

    #copiar {
        box-sizing: border-box;
        display: flex;
        margin: 0px auto;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        width: 543px;
        height: 38px;
        top: 308px;
        left: 66px;
        border: 1px solid #0A3871;
        border-radius: 19px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    #copiar p {
        width: 231px;
        height: 19px;
        margin: 0 auto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 0px;
        text-align: center;
        flex: content;
        color: #0A3871;
        order: 0;
        flex-grow: 1;
    }

    .alerta {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        position: absolute;
        width: 470px;
        height: 18px;
        left: 102px;
        top: 511px;
        font-size: 80%;

    }
}

@media (max-width: 548px) and (min-width: 0px) {
    * {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
    }

    body {
        position: relative;
        width: 548px;
        height: 1270px;
        background: #F3F5FC;
        opacity: 1;
        margin: 0 auto;
        padding: 0;
    }

    #contenedor.visible {
        position: absolute;
        width: 548px;
        height: 1270px;
        opacity: 1;
    }


    #contenedor .box {
        position: absolute;
        width: 100%;
        height: 1270px;
        opacity: 1;
    }


    ol {
        margin: 0px;
        padding-inline-start: 0px;
        position: flex;

    }

    .logo-oracle-alura {
        display: none;
    }

    footer {
        display: block;
        margin: 0 auto;
        justify-content: center;
        position: absolute;
        width: 100%;
        top: 1178px;
        height: 8%;
        background-color: #292929;
    }


    footer .seccion_reservado {
        font-weight: bold;
        font-size: 10px;
        color: #F3F5FC;
        text-align: center;
    }


    .header {
        position: absolute;
        width: 133px;
        height: 96px;
        left: 20px;
        top: 0px;
    }

    .logo-alura {
        position: absolute;
        left: 4.27%;
        right: 87.2%;
        top: 25%;
        bottom: 25%;
    }

    .logo-alura img {
        position: absolute;
        left: 0;
        right: 37.43%;
        top: 0%;
        bottom: 0%;
    }

    #textarea {
        position: absolute;
        width: 463px;
        height: 323px;
        left: 38px;
        top: 72px;
    }

    #input {
        position: absolute;
        resize: none;
        width: 443px;
        height: 278px;
        padding: 1rem;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;

        flex-grow: 1;
        background-color: transparent;
        border-color: transparent;
        color: #0A3871;
    }

    #input::placeholder {
        color: #0A3871;
        font-size: 20px;
    }

    .botones {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 24px;
        position: absolute;
        width: 346px;
        height: 158px;
        left: 51px;
        top: 485px;
        margin-top: 1rem;
    }

    #encode-button {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        width: 432px;
        height: 67px;
        background: #0A3871;
        border-radius: 24px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }

    #encode-button p {
        width: 295px;
        height: 19px;
        margin: 0 auto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF;
    }

    #decode-button {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        width: 432px;
        height: 67px;
        border: 1px solid #0A3871;
        border-radius: 24px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    #decode-button p {
        width: 295px;
        height: 19px;
        margin: 0 auto;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #0A3871;
        flex: none;
        order: 0;
        flex-grow: 1;
    }


    #seccion-mensaje {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        gap: 32px;
        position: absolute;
        width: 359px;
        height: 148px;
        left: 54px;
        top: 707px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    .mensaje {
        display: flex;
        left: 27px;
        top: 50px;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 5px;
        width: 376px;
        height: 112px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
    }


    .mensaje h1 {
        width: 376px;
        height: 58px;
        font-style: normal;
        font-size: 19px;
        margin: 0px auto;
        line-height: 120%;
        text-align: center;
        color: #343A40;
    }

    .mensaje p {
        width: 376px;
        height: 48px;
        font-style: normal;
        margin: 0 auto;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        color: #495057;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    #seccion-mensaje img {
        display: none;
    }


    #seccion-respuesta {
        flex-direction: column;
        align-items: flex-start;
        padding: 32px;
        margin-bottom: 1rem;
        gap: 32px;
        position: absolute;
        width: 359px;
        height: 361px;
        left: 0px;
        top: 0px;
        background: #FFFFFF;
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
        border-radius: 32px;
    }

    #resultado {
        width: 371px;
        height: 294px;
        resize: none;
        position: absolute;
        font-style: normal;
        font-size: 15px;
        line-height: 150%;
        color: #495057;
        background-color: transparent;
        border-color: transparent;
        flex-grow: 1;
        left: 23px;
        top: 22px;
        border-radius: 7px;
        order: 0;
        align-self: stretch;
    }

    #copiar {
        box-sizing: border-box;
        display: flex;
        margin: 0 auto;
        flex-direction: row;
        align-items: flex-start;
        padding: 24px;
        gap: 8px;
        width: 353px;
        height: 67px;
        left: 34px;    
        top: 341px;
        border: 1px solid #0A3871;
        border-radius: 24px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;
    }

    #copiar p {
        width: 231px;
        height: 19px;
        margin: 0 auto;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 19px;
        text-align: center;
        flex: content;
        color: #0A3871;
        order: 0;
        flex-grow: 1;
    }

    .alerta {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        position: absolute;
        width: 305px;
        height: 18px;
        left: 55px;
        top: 451px;
        font-size: 80%;
    }
}